.works {
    display: flex;
    margin: 4rem 6rem;
}

.workRight {
    flex: 70%;
    position: relative;
    top: 4rem;
    right: 3rem;
}

.box1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.5);
    transition: transform 0.4s ease; 
}

.project:hover{
    transform: scale(1.1);
}

.project > p {
    font-weight: bold;
}

.project img {
    height: 150px;
    width: 100%;
    margin-bottom: 0.5rem;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.techUes {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.4rem 1rem;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}


.project-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.project-btn button {
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    color: #ffff;
    font-size: large;
    background: #323232;
    transition: background-color 0.3s ease-out;
}

.project-btn button:hover {
    background-color: #758DF7;
}

@media (max-width: 1000px) {
    .workRight {
        right: 0;
    }

    .works {
        flex-direction: column;
        margin: 0 1rem;
    }

    .box1 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px) {
    .box1 {
        grid-template-columns: repeat(1, 1fr);
    }
}